rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    // Profils utilisateurs
    match /users/{userId} {
      allow create: if signedIn() && request.auth.uid == userId;
      allow read: if signedIn();
      allow update: if signedIn();
      allow delete: if false;
    }

    // Chantiers
    match /sites/{siteId} {
      allow read, write: if signedIn();
    }

    // Punchs / feuilles de temps
    match /punches/{punchId} {
      allow read: if signedIn();

      allow create: if signedIn()
                    && request.resource.data.userId == request.auth.uid;

      allow update: if signedIn();
      allow delete: if false;
    }

    // Demandes de correction
    match /correctionRequests/{requestId} {
      allow read: if signedIn();
      allow create, update: if signedIn();
      allow delete: if false;
    }

    // Présence, réservé pour les fonctions futures
    match /presence/{userId} {
      allow read: if signedIn();
      allow create, update: if signedIn()
                            && request.auth.uid == userId;
      allow delete: if signedIn();
    }


    // Notes quotidiennes chantier
    match /dailyNotes/{noteId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.resource.data.userId == request.auth.uid;
      allow update: if signedIn();
      allow delete: if false;
    }

    // Paramètres
    match /settings/{document=**} {
      allow read, write: if signedIn();
    }
  }
}
